/bin
/out
/fuzz-out
/emscripten
*.pyc
*.swp
.idea/
.vscode
/cmake-build-debug/
tags
cscope.out
CMakeCache.txt
CMakeFiles
cmake_install.cmake
build.ninja
rules.ninja
.ninja_deps
.ninja_log
node_modules
