[submodule "third_party/testsuite"]
	path = third_party/wabt/testsuite
	url = https://github.com/WebAssembly/testsuite
	ignore = untracked
[submodule "third_party/gtest"]
	path = third_party/wabt/gtest
	url = https://github.com/google/googletest
	ignore = untracked
[submodule "third_party/ply"]
	path = third_party/wabt/ply
	url = https://github.com/dabeaz/ply
	ignore = untracked
[submodule "third_party/uvwasi"]
	path = third_party/wabt/uvwasi
	url = https://github.com/nodejs/uvwasi
	ignore = untracked
[submodule "third_party/sljit"]
	path = third_party/sljit
	url = https://github.com/zherczeg/sljit
	ignore = untracked
[submodule "third_party/wasm-c-api"]
	path = third_party/wasm-c-api
	url = https://github.com/WebAssembly/wasm-c-api
	ignore = untracked
