[submodule "third_party/sljit"]
	path = third_party/sljit
	url = https://github.com/zherczeg/sljit
	ignore = untracked
[submodule "third_party/wasm-c-api"]
	path = third_party/wasm-c-api
	url = https://github.com/WebAssembly/wasm-c-api
	ignore = untracked
[submodule "third_party/uvwasi/uvwasi"]
	path = third_party/uvwasi/uvwasi
	url = https://github.com/nodejs/uvwasi
	ignore = untracked
[submodule "test/programs/coremark"]
	path = test/programs/coremark
	url = https://github.com/eembc/coremark.git
